<%-include('navbar.ejs')%>

<body>
    <div class="container bg-dark my-4">
        <div class="row p-1">
            <h2>News:</h2>
            <div class="col-12" id="news-space"></div>
        </div>
    </div>
</body>