<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Scarlet Forest Web</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-Dark-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="text-white py-4 py-xl-5">
                    <div class="container">
                        <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(39, 1, 3, 0.2), rgba(204, 3, 3, 0.2)), url('assets/pictures/indexBack.png') center / cover;height: 500px;">
                            <div class="row">
                                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center mx-auto">
                                    <div>
                                        <h1 class="text-uppercase fw-bold mb-3">Scarlet Forest<br></h1>
                                        <p class="mb-4">A student's private web.</p><div style="display: flex;"><a class="btn btn-danger fs-5 me-2 px-4 py-2" type="button" style="text-decoration: none;" href="/login">Login</a><a class="btn btn-outline-danger fs-5 px-4 py-2" type="button" style="text-decoration: none;" href="/register">Register</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-1">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        
                        <p class="card-text">This web is meant to be an archive that I am making to display my skills as a developer. <br> Only a limited number of people will be able to register for this is just a project.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="card"><img class="img-fluid card-img w-100 d-block" src="./assets/pictures/index placeholder.jpeg">
                    <div class="card-img-overlay">
                        <h4>Goals</h4>
                        <ul>
                            <li>This web will be able to store data from any member, and return data to anyone that wants it.</li>
                            <li>This web will have a gallery for pictures a member might upload.</li>
                            <li>This web will have a video player for any videos a member might upload.</li>
                            <li>This web will include minigames that members might be able to enjoy.</li>
                            <li>This web will include some sort of social media in order for members to be able to talk with one another.</li>
                       </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center bg-body" data-bs-theme="dark">
        <div class="container py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-body-emphasis" href="/development">Development</a></li>
                <li class="list-inline-item"><a class="link-body-emphasis" href="/rules">Rules</a></li>
            </ul>
            
            <p class="text-body mb-0">Copyright © 2025 </p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>